
.body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-left: 4%;
  margin-right: 3%;
}
.navbar-toggler {
  border: 2px;
  background-color: rgba(230, 230, 230);
  width: fit-content;

  }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
 

.nav-link {
  color:black;
  font-size: 1.35rem;
  font-weight: 600;
  margin-right: 3rem;
  align-content: space-around;
  position: relative;
}

.nav-link:before {
  display:block;
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:0;
  height:2px;
  background:red;
  transition:width 1s ease;
}

.nav-link:hover:before {
  width:100%;
}

.nav-link:hover { 
  color: black;
}

@media(min-width:992px) {
.nav-link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  color: rgb(250, 10, 10);
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  font-size: 1.35rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0);
  z-index: 1;

}
.dropdown-item{
  max-width: auto;
  display: block;
  overflow: visible;
  float: left;
  position: static;
  
}
.dropdown-item:hover { 
 color:red;
}

.navbar-toggle  {
  background-color: rgb(119, 43, 43);
}

#navLinks{
  font-size: 1.25rem;
  font-weight: 500;
  align-content: space-around;
}

.dropdown-item:active {
  background-color: inherit;
}

.bckgrnd {
    height: 90vh;
    background-image: url(obrazky/fasady.jpg);
    background-size: cover;
    display: flex;
    position: relative;
}

#frontHead{
  color: white;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  }

#frontText {
  color: white;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width:550px) {
  #frontHead {
    font-size: 2.5rem;
    width: fit-content;
    height: fit-content;
    margin-top: 17%;
  }
}

@media (max-width:550px) {
  #frontText {
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
   
  }
}

@media (max-width:420px) {
  #frontHead {
    font-size: 2rem;
    margin-top: 15%;

  }
}

@media (max-width:420px) {
  #frontText {
    font-size: 1.3rem;  
  }
}

@media (max-width:350px) {
  #frontHead {
    font-size: 1.7rem;
    margin-top: 15%;

  }
}

@media (max-width:350px) {
  #frontText {
    font-size: 1.2rem;  
  }
}


.bckgrnd > * {
    position: relative;
}

.bckgrnd::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to top, #000, transparent);
    top: 0;
    left: 0;
    opacity: .5;
}

@media (max-width:550px) {
  .bckgrnd::before{
    background-color: black;
    opacity: .4;
    }
}


h1 {
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: 750;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  
 }

 h1 span {
  border-bottom: 4px solid red;
 }

h4 {
  letter-spacing: 1.5px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding:1rem;
}

.card-title {
  letter-spacing: 1.5px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding:1rem;
  
}

.card-text {
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  font-weight: 300;
}

.card {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card-img-top {
  transition: 0.3s;
}

.card-img-top:hover  {
  transform: scale(1.1)
}

.display  {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.32rem;
  font-weight: 200;
  margin:2%;
}

@media (max-width:1200px) {
  .display {
    font-size: 1.2rem;
  }
}

#techList {
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  font-weight: 200;
}


#contyFlu{
  position: relative;
}

.overlay {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    opacity:0;
    transition: opacity:0.25s;
}
.overlay > * {
  transform: translateY(20px);
  transition: transform 1s;
}

.overlay:hover  {
    opacity:1;
    
}
.overlay:hover > * {
  transform: translateY(0);
}



@media (min-width:1200px) {
  #offerPanel{
    margin-right: 10%;
    margin-left: 10%;
  }
}

 #offerCont {
 background-color: #e6e6e6;
 padding-bottom: 5rem;
 padding-top: 3rem;
  
 }


 @media (min-width:767px) and (max-width:992px) {
   #offerCont {
     padding: 15%;
   }
 }

.image_title {
font-size: 1.4rem;
}

@media (min-width:1200px) {
  #SecZalu {
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media (min-width:1600px) {
  #SecZalu {
    margin-right: 20%;
    margin-left: 20%;
  }
}

#TxtCon {
  max-width: 1000px;
  
}



.footer {
  background-color: rgb(226, 226, 226);

}
.footer a {
  color: red;
 }

#footer-text {
  text-align: center;
 }

@media (min-width:992px) {
 #footer-text {
  text-align: start;
 }
}

  #cntctBox {
    
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 200px 10px;
    }
    
    #cntctBox:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url("obrazky/fasady.jpg") no-repeat center ;
      background-size: 100% 100%;
      filter:blur(2px);
      opacity: 80%;
      z-index: -1;
    }
    .contact-box{
      max-width: 900px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #fff;
      box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    }
    
    .left{
      background: url("obrazky/architekt3.jpg") no-repeat center;
      background-size: cover;
      height: 100%;
    }
    
    .right{
      padding: 25px 40px;
    }
    
    h2{
      position: relative;
      padding: 0 0 10px;
      margin-bottom: 10px;
    }
    
    h2:after{
      content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 5px;
        background-color: #c0c4d1;
    }
    
    .field{
      width: 100%;
      border: 2px solid rgba(0, 0, 0, 0);
      outline: none;
      background-color: rgba(230, 230, 230, 0.6);
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      margin-bottom: 22px;
      transition: .3s;
    }
    
    .field:hover{
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    textarea{
      min-height: 150px;
    }
    
    #jsnBtn{
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: red;
      color: #fff;
      font-size: 1.1rem;
      border-color: red;
      cursor: pointer;
      transition: .3s;
    }
    
    #jsnBtn:hover{
        background-color: white;
        border-color: red;
        color:red;
    }

    #morInf {
      color:red;
    }

    .checkbox {
      color:red;
    }

 
    
    @media screen and (max-width: 880px){
      .contact-box{
        grid-template-columns: 1fr;
      }
      .left{
        height: 200px;
      }
    }

    #productP{
      width:96%;
    }

    #prodHov {
  top: 0;
  left: 0;
  
    }

    #prodHov:hover {
   background-color: rgba(230, 230, 230, 0.6);
  
    }



.btn {
  border-radius: 2rem;
  width: 50%;
  color: red;
  border-color: red;
}

.btn:hover {
  background-color:red;

}


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}